:root {
    --teal: #085F63;
}

/*catalog start here*/
.catalog{
    padding: 1.2em 10%;
}

.catalog > #catalog-title{
    color: var(--teal);
    padding: 1.5em 0em;
}

.catalog > .catalog-list{
    padding: 1em 0em;
    padding-bottom: 0em;
}

.catalog-item{
    min-height: 150px;
    display: flex;
    margin-bottom: 2em;
}

.catalog-item > .item-image{
    min-width: 150px;
    /*background-image: url("h");*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.catalog-item > .item-info{
    padding: 0em 1em;
}

.item-info > .item-name{
    padding-bottom: 1em;
    color: var(--teal);
}

.item-info > .item-description{
    max-width: 500px;
    text-align: justify;
}

.delete-produk-button{
    background-color: rgb(231, 0, 0);
    color: white;
    width: 100px;
    text-align: center;
    font-size: 0.8em;
    font-weight: 500;
    padding: 0.5em 0.8em;
    margin: 0.5em 0em;
    cursor: pointer;
}

#catalog-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left:0;
    top: calc(35%);
    width: 100%; /* Full width */
    height: 30%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #ffffff;
    border-top: 1px solid var(--teal);
    border-bottom: 1px solid var(--teal);
}

#catalog-modal #catalog-title{
    color: var(--teal);
    font-size: 1.8em;
    text-align: center;
    padding: 1em 0em;
}

#catalog-content{
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.catalog-modal-button{
    padding: 0.5em 2em;
    margin: 0em 1em;
    font-weight: 600;
    background-color: white;
    color: var(--teal);
    border: 1px solid var(--teal);
    cursor: pointer;
}

#add-product-button{
    background-color: var(--teal);
    color: white;
    border: none;
    padding: 0.8em 1em;
    cursor: pointer;
    margin: 0.5em 0em;
}
/*///////////*/
#add-catalog-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left:0;
    top: calc(10%);
    width: 100%; /* Full width */
    height: 80%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #ffffff;
    border-top: 1px solid var(--teal);
    border-bottom: 1px solid var(--teal);
}

#add-catalog-modal #add-catalog-title{
    color: var(--teal);
    font-size: 1.8em;
    text-align:center;
    padding: 1em 0em;
}

#add-catalog-content{
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#form-container{
    width: 480px;
}

.form-item{
    display: flex;
    flex-direction: column;
}

.form-item-label{
    color: var(--teal);
    font-size: 1em;
    font-weight: 500;
    padding: 1em 0em;
}

.form-item-input{
    padding: 0.5em 0.5em;
}

#submit-produk{
    margin: 0.5em 0em;
    width: 20%;
    color: white;
    background-color: var(--teal);
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

#add-catalog-cancel{
    border: 1px solid var(--teal);
    width: 20%;
    text-align: center;
    border: 1px solid var(--teal);
    color: var(--teal);
    font-weight: 600;
    font-size: 0.8em;
    padding: 0.4em 1em;
    cursor: pointer;
}

.catalog-modal-button{
    padding: 0.5em 2em;
    margin: 0em 1em;
    font-weight: 600;
    background-color: white;
    color: var(--teal);
    border: 1px solid var(--teal);
}
