:root {
    --teal: #085F63;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
.league-spartan{
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
  
.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

#background-container{
    min-height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1705591933301-cd2bd4acac7b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-color: #030000f3;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    padding: 15% 0%;
}

#login-path{
    border: 0.15em solid var(--teal);
    border-radius: 10px;
    min-height: 30%;
    min-width: 30%;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.path{
    color: white;
    background-color: var(--teal);
    padding: 0.8em 0em;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width: 1100px) {
    #background-container{
        padding: 20% 0%;
    }
    #login-path {
      min-width: 50%;
    }
  }

  @media screen and (max-width: 850px) {
    #background-container{
        padding: 30% 0%;;
    }
    #login-path {
      min-width: 70%;
    }
  }

  @media screen and (max-width: 540px) {
    #background-container{
        padding: 40% 0%;;
    }
  }