:root {
    --teal: #085F63;
}


.ic--baseline-phone {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24c1.12.37 2.33.57 3.57.57c.55 0 1 .45 1 1V20c0 .55-.45 1-1 1c-9.39 0-17-7.61-17-17c0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1c0 1.25.2 2.45.57 3.57c.11.35.03.74-.25 1.02z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.ic--baseline-email {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2m0 4l-8 5l-8-5V6l8 5l8-5z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.mingcute--link-fill {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%23000' d='m17.303 9.524l3.182 3.182a5.5 5.5 0 1 1-7.778 7.778l-1.06-1.06a1.5 1.5 0 1 1 2.12-2.122l1.062 1.061a2.5 2.5 0 0 0 3.535-3.536l-3.182-3.182a2.5 2.5 0 0 0-2.681-.56q-.242.096-.454.196l-.464.217c-.62.28-1.097.4-1.704-.206c-.872-.872-.646-1.677.417-2.41a5.5 5.5 0 0 1 7.007.642m-6.01-6.01l1.06 1.06a1.5 1.5 0 0 1-2.12 2.122l-1.061-1.06A2.5 2.5 0 1 0 5.636 9.17l3.182 3.182a2.5 2.5 0 0 0 2.681.56q.242-.096.454-.196l.464-.217c.62-.28 1.098-.4 1.704.206c.872.872.646 1.677-.417 2.41a5.5 5.5 0 0 1-7.007-.642l-3.182-3.182a5.5 5.5 0 1 1 7.778-7.778Z'/%3E%3C/g%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

#profil{
    min-height: 30vh;
    padding: 0% 10%;
}

#profil > .page-title{
    padding: 0.8em 0em;
}

#edit-button{
    background-color: var(--teal);
    color: white;
    width: fit-content;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    margin-bottom: 1em;
}

#profil > #detail-container{
    display: flex;
    min-height: 250px;
}

#detail-container > #logo-perusahaan{
    min-width: 250px;
    /*background-image: url("https://images.unsplash.com/photo-1726094051307-a55a8ea52314?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyOXx8fGVufDB8fHx8fA%3D%3D");*/
    background-size: cover;
    background-position: center;
}

#detail-container > #detail{
    padding: 0em 1.5em;
    min-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#detail > #nama-perusahaan{
    color: var(--teal);
}

#detail > #tombol-tambahkan{
    background-color: var(--teal);
    color: white;
    font-size: 1em;
    max-width: 120px;
    text-align: center;
    padding: 0.5em 0em;
    cursor:pointer;
}

#detail > #informasi-perusahaan{
    padding: 0.8em 0em;
    display: flex;
}

#informasi-perusahaan > #informasi-umum{
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#informasi-umum .item-informasi-umum{
    min-width: 40%;
    padding: 0.5em 0em;
}

.item-informasi-umum .informasi-title{
    font-weight: bold;
    padding: 0.2em 0em;
    color: var(--teal);
}

#informasi-perusahaan > #informasi-contact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#informasi-contact .item-informasi-contact{
    padding: 0em 0.5em;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/*profil css end here*/

/*deskripsi starts here*/
#deskripsi{
    color: white;
    background-color: var(--teal);
    padding: 1.5em 10%;
    margin: 1.5em 0em;
}

#deskripsi > #deskripsi-title{
    padding-top: 0.5em;
    padding-bottom: 1em;
}

#deskripsi > #deskripsi-content{
    max-width: 700px;
    text-align: left;
    padding-top: 0.5em;
    line-height: 1.3;
}

/*deskripsi end here*/

/*location start here*/
#location-container{
    display: flex;
    min-height: 250px;
    padding: 1.5em 10%;
}

#location-container > #map-image{
    min-width: 200px;
    background-image: url("./../images/pemasok-map.png");
    background-size: cover;
    background-position: center;
}

#location-container > #location-content{
    padding: 0em 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#location-content > #location-title{
    color: var(--teal);
    font-size: 1.5em;
}

#location-content > #location-info{
    padding: 1em 0em;
}

@media screen and (max-width: 900px) {
    #profil > #detail-container{
        flex-direction: column;
    }
    
    #detail-container > #logo-perusahaan{
        min-height: 300px;
        max-width: 300px;
    }

    #detail-container > #detail{
        padding: 1em 0em;
        min-width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
