/* search iconn*/
.material-symbols--search {
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m19.6 21l-6.3-6.3q-.75.6-1.725.95T9.5 16q-2.725 0-4.612-1.888T3 9.5t1.888-4.612T9.5 3t4.613 1.888T16 9.5q0 1.1-.35 2.075T14.7 13.3l6.3 6.3zM9.5 14q1.875 0 3.188-1.312T14 9.5t-1.312-3.187T9.5 5T6.313 6.313T5 9.5t1.313 3.188T9.5 14'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

#search-section{
    background-image: url('../images/search-background.jpg');
    background-position: center;
    background-size: cover;
    background-color: #085e6381;
    background-blend-mode: overlay;
    padding: 15vh 0vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search-section > h2{
    text-align: center;
    max-width: 50%;
    font-size: 2em;
    color: white;
}

#search-section > .search-bar{
    min-width: 30%;
    display: flex;
    justify-content: center;
    padding: 3em 0em;
}

.search-bar > input{
    font-size: 1.1em;
    width: 90%;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.search-bar > input:focus{
    outline: none;
}

.search-bar > button{
    padding: 0.5em 0.7em;
    border: none;
    color: white;
    background-color: #085F63;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

#search-modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left:0;
    top: calc(10%);
    width: 100%; /* Full width */
    height: 80%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding: 2% 10%;
    background-color: #ffffff;
    border-top: 1px solid var(--teal);
    border-bottom: 1px solid var(--teal);    
}

#search-modal-title{
    text-align: center;
    color: var(--teal);
}

#search-modal-tutup{
    background-color: var(--teal);
    color: white;
    border: none;
    padding: 0.8em 1.2em;
    border-radius: 6px;
    cursor: pointer;
}

.search-supplier-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px 20px;
}

.search-supplier {
    background-color: white;
    padding: 0.8em;
    margin: 1.3em;
    border-radius: 5px;
    width: 450px;
    min-height: 300px;
    box-shadow: 0px 3px 3px 1px #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.search-supplier .search-card-heading{
    min-height: 45%;
    display: flex;
}

.search-card-heading .search-card-image{
    min-width: 30%;
    border-radius: 5px;
    /*background-image: url("https://placehold.co/600x600");*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.search-card-heading .search-nama-perusahaan {
    font-size: 1.3em;
    font-weight: 600;
    padding: 0em 0.7em;
    color: #085F63;
}

.search-card-heading .search-jenis-produk {
    font-size: 16px;
    font-weight: 600;
    padding: 0.5em 0.7em;
}

.search-card-heading .search-jenis-perusahaan{
    font-size: 16px;
    font-weight: 600;
    padding: 0.5em 0.7em;
}

.search-supplier .search-card-content{
    display: flex;
    flex-direction: column;
}

.search-supplier .search-description {
    padding: 0.5em 0em;
    font-size: 0.9em;
}

.search-card-content > button{
    background-color: white;
    color: #085F63;
    width: 35%;
    border: 1px solid #085F63;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
