/*below is css for icons */

.supplier-list {
    /*border: 1px solid black;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px 20px;
}

.supplier {
    background-color: white;
    padding: 0.8em;
    margin: 1.3em;
    border-radius: 5px;
    width: 450px;
    min-height: 300px;
    box-shadow: 0px 3px 3px 1px #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.supplier .card-heading{
    min-height: 45%;
    display: flex;
}

.card-heading .card-image{
    min-width: 30%;
    border-radius: 5px;
    /*background-image: url("https://placehold.co/600x600");*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-heading .nama-perusahaan {
    font-size: 1.3em;
    font-weight: 600;
    padding: 0em 0.7em;
    color: #085F63;
}

.card-heading .jenis-produk {
    font-size: 16px;
    font-weight: 600;
    padding: 0.5em 0.7em;
}

.card-heading .jenis-perusahaan{
    font-size: 16px;
    font-weight: 600;
    padding: 0.5em 0.7em;
}

.supplier .card-content{
    display: flex;
    flex-direction: column;
}

.supplier .description {
    padding: 0.5em 0em;
    font-size: 0.9em;
}

.card-content > button{
    background-color: white;
    color: #085F63;
    width: 35%;
    border: 1px solid #085F63;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.card-content > button:hover{
    background-color: #085F63;
    color: white;
}