:root {
  --teal: #085F63;
}

.mage--filter {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-miterlimit='10' stroke-width='1.5' d='M21.25 12H8.895m-4.361 0H2.75m18.5 6.607h-5.748m-4.361 0H2.75m18.5-13.214h-3.105m-4.361 0H2.75m13.214 2.18a2.18 2.18 0 1 0 0-4.36a2.18 2.18 0 0 0 0 4.36Zm-9.25 6.607a2.18 2.18 0 1 0 0-4.36a2.18 2.18 0 0 0 0 4.36Zm6.607 6.608a2.18 2.18 0 1 0 0-4.361a2.18 2.18 0 0 0 0 4.36Z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

#filter{
  padding-top: 2em;
  padding-left: 10%;
  vertical-align: middle;
}

#filter #filter-button{
  display: flex;
  align-items: center;
}


#filter-button > #filter-icon{
  cursor: pointer;
  color: var(--teal);
}

#filter-button > #filter-text{
  cursor: pointer;
  padding: 0em 0.5em;
  color: var(--teal);
}

#filter #filter-dropdown{
  display: none;
  position: absolute;
  background-color: #fcfbfb;
  min-width: 480px;
  max-width: 800px;
  padding: 0em 1em;
  box-shadow: 0px 3px 16px 0px rgba(63, 63, 63, 0.11);
  z-index: 1;
}

/*code for radio button*/

.radio-section-title{
  color: var(--teal);
  font-size: 1.2em;
}

.radio-section{
  display: flex;
  flex-wrap: wrap;
}

/* Customize the label (the container) */
.radio-container {
  width: 20%;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  background-color: var(--teal);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/*selesai button*/
#radio-button-selesai{
  margin-top: 1em;
  width: 20%;
  text-align: center;
  padding: 0.4em 0em;
  font-size: 0.8em;
  font-weight: 500;
  background-color: var(--teal);
  color: white;
  cursor: pointer;
}
/*batal button*/
#radio-button-batal{
  margin-top: 1em;
  border: 1px solid var(--teal);
  color: var(--teal);
  width: 20%;
  text-align: center;
  padding: 0.4em 0em;
  font-size: 0.8em;
  font-weight: 500;
  cursor: pointer;
}
