footer#footer
    .footer-content
        h2#footer-heading.league-spartan TemanBisnis | Your Trusted Partner for Business Connections
        .social-media
          a.footer-logo(href='#')
            span.prime--twitter
          a.footer-logo(href='#')
            span.hugeicons--instagram
          a.footer-logo(href='#')
            span.ic--outline-facebook
        #contact
          p Contact Us
          p temanbisnis@gmail.com
        p &copy; 2024 TemanBisnis | All Rights Reserved.