html
  head
    link(rel='stylesheet', href='public/style/page_403.css')
  body
    .wrapper
      section.pedastal
        .pedastal-block1
        | &#x9;&#x9;
        .pedastal-block2
        | &#x9;&#x9;
        .trapezium
          div
          | &#x9;&#x9;&#x9;
          div
      | &#x9;
      section.hall
        .hall-pillar
        | &#x9;&#x9;
        .hall-support
        | &#x9;&#x9;
        .hall-pillar
        | &#x9;&#x9;
        .hall-support
        | &#x9;&#x9;
        .hall-pillar
        | &#x9;&#x9;
        .hall-support
        | &#x9;&#x9;
        .hall-pillar
        | &#x9;&#x9;
        .hall-support
        | &#x9;&#x9;
        .hall-pillar
        | &#x9;&#x9;
        .hall-support
        | &#x9;&#x9;
        .hall-pillar
        | &#x9;&#x9;
        .hall-support
        | &#x9;&#x9;
        .hall-pillar
        | &#x9;&#x9;
        .hall-support
        | &#x9;&#x9;
        .hall-pillar
        | &#x9;&#x9;
        .hall-support
        | &#x9;&#x9;
        .hall-pillar
        | &#x9;&#x9;
        .hall-support
        | &#x9;&#x9;
        .hall-pillar
      | &#x9;
      section.lower-support
        .lower-support-pillar
        | &#x9;&#x9;
        .ornaments
          div
          | &#x9;&#x9;&#x9;
          div
        | &#x9;&#x9;
        .lower-support-pillar
        | &#x9;&#x9;
        .ornaments
          div
          | &#x9;&#x9;&#x9;
          div
        | &#x9;&#x9;
        .lower-support-pillar
        | &#x9;&#x9;
        .ornaments
          div
          | &#x9;&#x9;&#x9;
          div
        | &#x9;&#x9;
        .lower-support-pillar
        | &#x9;&#x9;
        .ornaments
          div
          | &#x9;&#x9;&#x9;
          div
        | &#x9;&#x9;
        .lower-support-pillar
        | &#x9;&#x9;
        .ornaments
          div
          | &#x9;&#x9;&#x9;
          div
        | &#x9;&#x9;
        .lower-support-pillar
        | &#x9;&#x9;
        .ornaments
          div
          | &#x9;&#x9;&#x9;
          div
        | &#x9;&#x9;
        .lower-support-pillar
        | &#x9;&#x9;
        .ornaments
          div
          | &#x9;&#x9;&#x9;
          div
        | &#x9;&#x9;
        .lower-support-pillar
        | &#x9;&#x9;
        .ornaments
          div
          | &#x9;&#x9;&#x9;
          div
        | &#x9;&#x9;
        .lower-support-pillar
        | &#x9;&#x9;
        .ornaments
          div
          | &#x9;&#x9;&#x9;
          div
        | &#x9;&#x9;
        .lower-support-pillar
      | &#x9;
      section.lower-roof
        div
        | &#x9;&#x9;
        div
      | &#x9;
      section.upper-support
        .container
          .lower-support-pillar
          | &#x9;&#x9;&#x9;
          .lower-support-pillar
          | &#x9;&#x9;&#x9;
          .lower-support-pillar
          | &#x9;&#x9;&#x9;
          .lower-support-pillar
          | &#x9;&#x9;&#x9;
          .lower-support-pillar
          | &#x9;&#x9;&#x9;
          .lower-support-pillar
        | &#x9;&#x9;
        .ornaments
          div
          div
        | &#x9;&#x9;
        .ornaments
          div
          div
        | &#x9;&#x9;
        .ornaments
          div
          div
        | &#x9;&#x9;
        .ornaments
          div
          div
        | &#x9;&#x9;
        .ornaments
          div
          div
        | &#x9;&#x9;
        .ornaments
          div
          div
        | &#x9;&#x9;
        .ornaments
          div
          div
        | &#x9;&#x9;
        section.sign
      | &#x9;
      section.upper-roof
        div
        | &#x9;&#x9;
        svg(width='520px', height='90px')
          path#Combined-Shape(d='M495.689265,72.9065145 L520,90 L0,90 L24.3069308,72.9091893 L45.9698498,74.0444947 C88.9890231,76.2990341 125.690619,43.2527689 127.945158,0.233595624 L127.687016,0.220066965 L128,0 L392,0 L392.30918,0.217392187 L392,0.233595624 C394.254539,43.2527689 430.956135,76.2990341 473.975308,74.0444947 L495.689265,72.9065145 Z', fill='#FDBB3B')
        | &#x9;&#x9;
        div
      | &#x9;
      section.roof-top
        div
        | &#x9;&#x9;
        div
      | &#x9;
      .cloud.cloud-01
      | &#x9;
      .cloud.cloud-02
      | &#x9;
      .cloud.cloud-03
        div
      | &#x9;
      .sun
        .copy 403
    .wall
      .wall-roofing-bottom
      | &#x9;&#x9;
      .wall-roofing-top
    .headline
      h1 Forbidden City
      | &#x9;
      h2 &#x270B; You don&apos;t have permission to access &#x1F6A7; this area &#x270B;