nav#nav-customer
    h1#nav-title.league-spartan TemanBisnis
    #nav-options
        a#home(href='#')
          span.ic--baseline-home
        #user
          span.mdi--user
          .dropdown-content
            a(href='#' , id='logout') Logout
        #bookmark-button.league-spartan(href='#') Bookmark