.catalog(id='#')
    h2#catalog-title Product yang Ditawarkan
    .catalog-list
        if produk_list
            each produk in produk_list
                include ./produk.pug
        else 
            h2.no-product Pemasok ini tidak menampilkan produk apapun
    if edit 
        button#add-product-button(onclick='showAddProdukModal()') Tambahkah Produk