.catalog-item
    .item-image(style=`background-image: url('${produk.image}');`)
    .item-info
        h4.item-name #{produk.nama_barang}
        p.item-description #{produk.deskripsi}
        if edit 
            .delete-produk-button(onclick='deleteProduk(event)', id= produk.nama_barang) Delete